body{
    padding: 0;
    margin: 0;
}
.hero-section{
    background-image: url('image/hero-banner.png');
    background-repeat: no-repeat;
    height: 700px;
    

}
.half-width{
  padding: 5%;
  width: 40%;
 float: left;
    
}
.heading-text{
    font-size: 4rem;
    margin: 0;
}
span{
    color: tomato;
}
.p-text{
    font-size: 20px;
    font-weight: bold;
}
.demo-text{
    text-align: justify;
}
button{
    padding:15px 40px;
   margin-top: 20px;
   background: linear-gradient(180deg, tomato, lightsalmon);
   border: none;
   border-radius: 10px;
   color: white;
   font-size: 15px;
   cursor: pointer;
}


.hero-section2
{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    height:700px;

    background-position: right;
}

.half-width2
{
    padding: 30px;
    width: 40%;
    float: left;
}
.heading2{
    font-size: 3rem;
    margin: 0%;
    padding: 0%;
}
.p-text2{
   font-size: 20px ;
   font-weight: bold;
  
   

}
.demo-text2{
    text-align: justify;
    padding: 0%;
}

.heading3{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    height: 400px;
    background-position: left;
}
.heading4{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
.halfwidth4{
    width: 39%;
    margin:15px 5%;
    float: left;
    background-color: white;
    box-shadow: 0px 0px 20px rgb(66, 66, 66);
   
}
#br-first{
    border-left: 5px solid  ;
    border-image:linear-gradient(180deg, rgba(21,0,255,1) 24%, rgba(0,255,247,1) 68%) ;
    border-image-slice: 1;
}

#br-second{
    border-left: 5px solid  ;
    border-image:linear-gradient(180deg, tomato 24%, white) ;
    border-image-slice: 1;
}

.heading6
{
    color: tomato;
}

.p-text4
{
    
    font-size: 15px;
    text-align: justify;
}
.heading8
{
    color: tomato;
}
.demotext4
{
    font-size: 15px;
    text-align: justify;
    
}
footer
{
    text-align: center;
    color: tomato;
    font-size:20px;
    margin: 3% 0%;
}

@media only screen and (max-width:667px){
    body{
        padding: 0px 10px;
    }
    .half-width{
        padding: 0px;
        width:100%;
        
    }
    .half-width2{
        padding: 0px;
        width:100%;
       
    }
    .halfwidth4{
        width: 100%;
        margin: 15px 0px;
    }
    footer{
        clear: both;
    }
    @media only screen and (max-width:900px){

    }
}